<html>
    <head>
        <title>services</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="assest/css/style.css">
         
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      </head>
    <body>
        
        <div class="refer-top" style="background-image: url(assest/img/refer.jpg)">
            
            <div class="overlay2">
                <div class="container" >
                    <h2>Good Friends Share!</h2>
                    <p>Refer Your Friend & Colleaque and Earn Upto 50,000 per month </p>
                </div>
                <div class="refer-form">
                <div class="container refer">
                    <div class="row">
                          
                        <div class="col-lg-6 col-xs-12" style="padding-right: 20px;">
                            <h5>If you have someone particular in mind...</h5>
                            <div class="group-form">
                                <div class="screen-reader-response" aria-live="polite"></div>
                                <form action="#" method="post" >
                                    <input class="lis" type="text" name="name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Your Friend's Name " required></br>
                                    <input class="lis" type="email" name="email" value="" size="40"  placeholder="Your Friend's Mail" required></br>
                                    <input class="lis" type="tel" name="tel-331" value="" size="40" aria-invalid="false" placeholder="Your Friend's Phone Number" required></br>
                                    
                                    <select class="lis" class="lis" required>
                                        <option >Select City</option>
                                        <option value="#">A</option>
                                        <option value="#">B</option>
                                        <option value="#">C</option>
                                        <option value="#">D</option>
                                    </select></br>
                                    <input class="lis" type="tel" name="text-677" value="" size="40" aria-invalid="false" placeholder="Your Phone" required></br>
                                    <input type="submit" value="Send Invite" class="bu"  />
                                </form>    
                            </div>
                        </div>
                   
                            
                     
                        <div class="col-lg-6 col-xs-12">
                            
                            <h5>Generate your referral link:</h5>
                            <div class="group-form">
                                <input class="lis" type="tel" name="text-677" value="" size="40" aria-invalid="false" placeholder="Your Phone" required></br>
                                <input type="submit" value="Generate LinkS" class="bu"  />
                            </div>
                            <h6>And Shared Via:</h6>
                            <div class="text-center">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-whatsapp"></a>
                            </div>
                        </div>  
                    </div>    
                </div>
                </div>
            </div>
        </div>    
</body>
</html>